{
   "plugins" : ["bonds", "angles", "vdw1", "exclusions", "mass", "virtuals"],
   "vdw_comb_rule" : "ARITHMETIC/GEOMETRIC",
   "info" : ["tip4pd-1.6 water model, for use with aa.amber-disp", "Robustelli et al. (2018) PNAS https://doi.org/10.1073/pnas.1800690115",
             "Piana et al. (2015) J Phys Chem B 119:5113-5123"]
}
